/* SECCIÓN NOSOTROS */
.nosotros {
    padding: 60px 20px;
    background-color: var(--texto-primario);
}

.nosotros-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* TÍTULO */
.nosotros-titulo {
    text-align: center;
    font-size: 42px;
    color: var(--color-primario);
    margin-bottom: 10px;
}

/* INTRO */
.nosotros-intro {
    text-align: center;
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

.nosotros-intro strong {
    color: #ec830b;
}
/* TARJETAS */
.nosotros-card {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

.nosotros-card strong {
        color: #ec830b;
}

.nosotros-card h3 {
    color: var(--color-primario);
    margin-bottom: 10px;
    font-size: 22px;
}

.nosotros-card p {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

/* LISTA */
.nosotros-lista {
    padding-left: 20px;
    margin-top: 10px;
}

.nosotros-lista li {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

/* EQUIPO */
.equipo {
    text-align: center;
}

.equipo-info {
    margin-bottom: 15px;
    font-size: 15px;
}

.equipo-lista {
    list-style: none;
    padding: 0;
}

.equipo-lista li {
    color: #555;
    font-size: 14px;
    padding: 5px 0;
}

/* ===============================
   IMAGEN CON FONDO BLANCO
================================ */

.nosotros-imagen-container {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.nosotros-imagen {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: contain;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nosotros-titulo {
        font-size: 32px;
    }

    .nosotros-card {
        padding: 20px;
    }

    .nosotros-imagen-container {
        padding: 15px;
    }

    .nosotros-imagen {
        max-width: 270px;
    }
}
